<div class="container">

  <div class="row heading">
    <div class="col-md-12">
      <h1>#Explore</h1>
      <h3>Looking to explore this site?</h3>
      <h4>Sign up for an account or use the information below to explore.</h4>
    </div>
  </div>

  <div class="row" id="dummy">
    <div class="col-md-4">
      <h4>Dummy Standard Accounts</h4>
      <p>Standard User</p>
      <ul>
        <li>Email: standard@exampls.com</li>
        <li>Password: password</li>
      </ul>
      <p>Standard User2</p>
      <ul>
        <li>Email: standard2@exampls.com</li>
        <li>Password: password</li>
      </ul>
      <p>Standard User3</p>
      <ul>
        <li>Email: standard3@exampls.com</li>
        <li>Password: password</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Dummy Premium Accounts</h4>
      <p>Premium User</p>
      <ul>
        <li>Email: premium@exampls.com</li>
        <li>Password: password</li>
      </ul>
      <p>Premium User2</p>
      <ul>
        <li>Email: premium2@exampls.com</li>
        <li>Password: password</li>
      </ul>
      <p>Premium User3</p>
      <ul>
        <li>Email: premium3@exampls.com</li>
        <li>Password: password</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Dummy Admin Account</h4>
      <p>Admin User</p>
      <ul>
        <li>Email: admin@exampls.com</li>
        <li>Password: password</li>
      </ul>
      <br>
      <h4>Dummy Credit Card Info</h4>
      <p>Used to Upgrade Standard Account</p>
      <ul>
        <li>Card Number: 4242 4242 4242 4242</li>
        <li>Fill in the other information with any numbers</li>
      </ul>
    </div>
  </div>
</div>
