
<div class="header">
  <%= image_tag("coffee-logo3.png", size: "150x175") %>
  <h1 id="title">Brewpedia</h2>
  <h2 id="subtitle">Everything about coffee</h2>
  <% unless user_signed_in? %>
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg' %>
  <% end %>


</div>

<div class="container" id="about">

  <div class="row">
    <div class="col-md-4" id="about-text">
      <i class="fa fa-plus" aria-hidden="true" id="icon"></i>
      <h2>Create</h2>
      <p>Create text based wikis and share your knowledge about coffee brewing with the world.</p>
    </div>
    <div class="col-md-4" id="about-text">
      <i class="fa fa-arrow-circle-o-down" aria-hidden="true" id="icon"></i>
      <h2>Markdown</h2>
      <p>Express your thoughts and add emotion to your words with Mardown syntax.</p>
    </div>
    <div class="col-md-4" id="about-text">
      <i class="fa fa-share-alt" aria-hidden="true" id="icon"></i>
      <h2>Collaborate</h2>
      <p>Collaborate with any of the other 150,000 Brewpedia community members.</p>
    </div>
  </div>
</div>

<div class="row" id="accounts">
  <h2>Account Features</h2>

  <div class="col-md-6">
    <div class="accounts-block">
      <h3>Standard</h3>
      <h4>Free</h4>
      <ul>
        <li>Unlimited Wikis</li>
        <li>Create Public Wikis</li>
        <li>Edit Public Wikis</li>
        <li>Be A Collaborator</li>
      </ul>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="accounts-block">
      <h3>Premium</h3>
      <h4>$15<span class="per-month"> /month</span></h4>
      <ul>
        <li>Create Private Wikis</li>
        <li>Add Collaborators</li>
        <li>Remove Collaborators</li>
        <li>Plus All Standard Features</li>
      </ul>
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
</div>

<div id="footer">
  <p>© 2017. Brewpedia - All Rights Reserved.</p>
</div>
