/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav li a{
  color: black;
  font-size: 2rem;
}

#navbar {
  margin-right: 3rem;
  margin-bottom: 0;
}

#navbar-logo {
  margin-left: 3rem;
  margin-bottom: 0;
  padding-top: 0;
}

#tab, .navbar-header {
  padding-top: .5rem;
}

#tab a:hover, #tab a:focus {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

#upgrade-nav {
  padding-top: .5rem;
  padding-left: 1.5rem;
}

#logo {
  border-radius: 0;
  background: #fff;
  color: #d65108;
  font-size: 4rem;
}

#logo a {
  color: #d65108;
}

#logo a:hover {
  background: #fff;
  border: none;
}

.user-info {
  margin-top: 1.75rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.btn {
  margin: 8px 0;
}

.field {
  padding: 5px 0;
}

.actions {
  padding: 8px 0;
}

.navbar-toggle {
  background: #0075c4;
}

.nav-menu {
  color: #fff;
}

.navbar-collapse {
  margin-bottom: 4rem;
}

.navbar-toggle {
  margin-right: 3rem;
}
