// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#homepage {
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background: transparent;
  padding-top: 1rem;
  padding-bottom: 10rem;
}

#title {
  color: #efa00b;
  font-size: 8rem;
  margin: 2rem 0;
}

#subtitle {
  padding-bottom: 3rem;
  font-style: italic;
  margin: 0;
}

#about {
  color: #fff;
  text-align: center;
  background: #0075c4;
  padding: 3rem 0;
  width: 100%;
}

#icon {
  font-size: 8rem;
  color: #efa00b;
  margin-top: 4rem;
}

#about-text {
  margin-bottom: 4rem;
  padding: 0;
}

#about-text h2 {
  padding: 0;
  font-size: 4rem;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#about-text p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-size: 1.75rem;
}

#accounts {
  text-align: center;
  margin: 0;
  background: url('/assets/coffee-background.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
}

#accounts h2 {
  font-size: 5rem;
  margin-bottom: 7rem;
  margin-top: 10rem;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.accounts-block {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .35);
  background: #fff;
  margin-bottom: 15rem;
  padding-bottom: 3rem;
}

.accounts-block h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-bottom: 4rem;
  margin-top: 0;
  background: #f1f1f1;
  padding: 1rem 0;
  color: #4d4d4d;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .40);
}

#accounts h4 {
  font-size: 5rem;
  color: #efa00b;
  margin-bottom: 3rem;
  margin-top: 0;
}

#accounts ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.75rem;
  line-height: 3.5rem;
  margin-bottom: 4rem;
}

.per-month {
  font-size: 1.5rem;
  color: black;
}

#dummy {
  border-top: 1px solid darkgray;
}

#dummy h4 {
  font-size: 2.5rem;
}

#dummy p {
  font-weight: bold;
}

#footer {
  background: #0075c4;
}

#footer p {
  margin-left: 4rem;
  padding: 2.5rem 0;
  margin-bottom: 0;
}
